<section id="projects" class="container">


  <h2>Proyectos Desarrollados</h2>


  <p>Este es un listado de los proyectos en los cuales he trabajado, si deseas ver más detalles de cada uno, puedes hacer click en el botón "Ver Código" y te llevará a mi repositorio de GitHub.</p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <img class="rounded w-100" src="portafolio.jpg" alt="My Portfolio">


    </div>
    <div class="col-12 col-sm-8">
      <h3>Portafolio Personal</h3>
      <p>Este es un proyecto en el cual me he dedicado todo el verano pasado, es un portafolio personal en el cual muestro mis habilidades y proyectos realizados, ademas de informacioon inportante sobre mi!.</p>
      <a class="btn btn-light" href="https://www.github.com/teitonOrange/portafolio" target="_blank"> Ver Código </a>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 col-sm-4">
      <div class="rounded border border-light bg-black w-100 d-flex p-1" style="height:20rem;">

        <img class="rounded h-100 m-auto" src="app-movil.jpeg"  alt="My Movil App">
      </div>


    </div>
    <div class="col-12 col-sm-8">
      <h3>Aplicación Movil</h3>
      <p>Este es un proyecto en el cual con un grupo de compañeros hemos estado desarrollando este año 2024, es una aplicacion movil en la cual puedes pedir comida a domicilio de distintas categorías!.</p>
      <p>Esta siendo desarollando con las tecologías de React-Native con Express para Frontend y NodeJS para el backend.</p>
      <div class="d-flex gap-2">
        <a class="btn btn-light" href="https://github.com/mores-hitt/pids-backend" target="_blank"> Ver Código Backend </a>
        <a class="btn btn-light" href="https://github.com/mores-hitt/pids-frontend" target="_blank"> Ver Código Frontend </a>
      </div>


    </div>
  </div>



</section>
