<section id="projects" class="container">


  <h2>Projectos Desarrollados</h2>


  <p>Este es un listado de los proyectos en los cuales he trabajado, si deseas ver más detalles de cada uno, puedes hacer click en el botón "Ver Código" y te llevará a mi repositorio de GitHub.</p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <img class="rounded w-100" src="portafolio.jpg" alt="My Portfolio">


    </div>
    <div class="col-12 col-sm-8">
      <h3>Portafolio Personal</h3>
      <p>Este es un proyecto en el cual me he dedicado todo el verano pasado, es un portafolio personal en el cual muestro mis habilidades y proyectos realizados.</p>
      <a class="btn btn-light" href="https://www.github.com/teitonOrange/portafolio" target="_blank"> Ver Código </a>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 col-sm-4">
      <div class="rounded border border-light bg-black w-100 d-flex p-1" style="height:20rem;">

        <img class="rounded h-100 m-auto" src="app-movil.jpeg"  alt="My Movil App">
      </div>


    </div>
    <div class="col-12 col-sm-8">
      <h3>Aplicación Movil</h3>
      <p>Este es un proyecto en el cual me he dedicado todo el verano pasado, es un portafolio personal en el cual muestro mis habilidades y proyectos realizados.</p>
      <a class="btn btn-light" href="https://www.github.com/teitonOrange/portafolio" target="_blank"> Ver Código </a>
    </div>
  </div>



</section>
