<header style="height: 6rem;">
  <nav class="navbar navbar-expand bg-body-tertiary mb-5 fixed-top">
    <div class="container">
        <ul class="navbar-nav me-auto mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
        </ul>
    </div>
  </nav>
</header>

<main class="main">
  <div class="content">
    <app-home></app-home>
    <app-about></app-about>
    <app-contact></app-contact>
    <app-projects></app-projects>
  </div>
</main>

<footer class="container d-flex">
  <div class="m-auto">
    <p>©2024 teitonOrange. Todos (casi) los derechos reservados. </p>

  </div>
</footer>


