<section id="about" class="mb-5">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="max-w-xl">
          <h2>Sobre mi</h2>
          <p>Mi nombre es Nicolas Gonzalez Caro, actualmente soy estudiante de 4to año de la carrera de Ingeniería en Computación e Informática💻
            en la Universidad Católica del Norte, en la ciudad de Antofagasta, Chile.
            Mis hobbies son la Música🎶, Videojuegos retro🕹🎮, el Canto y tocar Guitarra Electrica🎸

          </p>
          <h2 class="mt-5 ">Tecnicas y experiencia</h2>
          <p>Sobre mi experiencia me he desempañado en los roles de SQA y Lider de Programación en algunos ramos de la carrera,
            además de tener cierta experiencia laboral en lugares como Sodimac chile y casino Enjoy Antofagasta llegando al cargo de Supervisor TGM en el salón de juegos🎰🎲.

          </p>
          <p>
            Mis técnicas como futuro ingeniero son el uso de lenguajes de programación como Python, Java y C# y el Framework Laravel.
            Actualmente me encuentro en un proceso de aprendizaje de el Lenguaje JavaScript/TypeScript y de los Framework React-Native y Angular y desempeñando el cargo de Lider de Progrmación.
          </p>
          <p>
            El Rol al que aspiro es llegar a ser un Project Manager o un Arquitecto de Software en un futuro.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-4">


        <img class="circular" src="nicolas-foto-bkn.jpg" alt="My Photo" width="350" height="350">

      </div>


    </div>
  </div>


</section>


