<section id="about" class="mb-5">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="max-w-xl">
          <h2>Sobre mi</h2>
          <p>Mi nombre es Nicolas Gonzalez Caro, actualmente soy estudiante de la carrera de Ingeniería en Computación e Informática
            en la Universidad Católica del Norte, en la ciudad de Antofagasta, Chile.
          </p>
          <h2 class="mt-5 ">Tecnicas y experiencia</h2>
          <p>Lorem ipsummmmmsmmm</p>
        </div>
      </div>
      <div class="col-12 col-md-4">


        <img class="circular" src="nicolas-foto-bkn.jpg" alt="My Photo" width="250" height="250">

      </div>


    </div>
  </div>


</section>


