<section id="contact" class="container mb-5">

  <h2>Contáctame!</h2>
  <p> Celular: <a href="tel:+56957441592">+569 5744 1592 </a> Correo Electrónico <a href="mailto:nicolas.gonzalez@alumnos.ucn.cl"> nicolas.gonzalez&#64;alumnos.ucn.cl</a> </p>
  <p>A continuación te dejo mis redes más usadas actualmente, no dudes en ponerte en contato conmigo!</p>

  <div class="d-flex gap-2">

    <a class="btn btn-light" href="https://www.github.com/teitonOrange" target="_blank">GitHub</a>
    <a class="btn btn-light" href="https://www.instragram.com/dissatisfied__existence" target="_blank">Instagram</a>

  </div>


</section>
